{% extends 'base.html' %}
{% block contenido %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado Tickets</h6>
    </div>
        <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            <!-- Muestro Inicio -->
                             <!-- Muestro Fin -->
                        </div>
                    </div>
                    <!-- Search
                    -->
                </div>
                <div>
                    <a href="{% url 'TicketsNuevo' %}">Nuevo Ticket</a>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Fecha Creacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in tickets %}
                                <tr>
                                    <td>{{t.id}}</td>
                                    <td>{{t.titulo}}</td>
                                    <td>{{t.descripcion}}</td>
                                    <td>{{t.get_estado_display }}</td>
                                    <td>{{t.fecha_creacion|date:'d-m-Y H:i'}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- Paginado Inicio -->
                <!-- Paginado Fin -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
