{% extends 'base.html' %}
{% block contenido %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nuevo Ticket</h6>
        </div>
        <div class="card-body" >
            <div class="table-responsive">

                <!-- Formulario  (Inicio) -->
                <form method="POST">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tr>
                            <td>Titulo</td>
                            <td>{{formaTickets.titulo}}</td>
                        </tr>
                        <tr>
                            <td>Descripcion</td>
                            <td>{{formaTickets.descripcion}}</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>{{formaTickets.estado}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Creacion</td>
                            <td>{{formaTickets.fecha_creacion}}</td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-success btn-icon-split"> Confirmar </button>
                    {% csrf_token %}
                </form>
                <p></p>
                <p></p>
                <p></p>
                <div>
                    <a href="{% url 'TicketsLista' %}">Volver</a>
                </div>
                <!-- Formulario  (Fin) -->
            </div>
        </div>
    </div>

{% endblock %}